/Praktikum 8/Latihan GUI/nbproject/private/
/Praktikum 8/Latihan GUI/build/
/Praktikum 8/Latihan GUI/dist/
/Praktikum 9/build/
/Praktikum 9/dist/
/Praktikum 9/nbproject/private/
/Task and Exercise/week10/nbproject/private/
/Task and Exercise/week10/build/
/Task and Exercise/week10/dist/
/Task and Exercise/mavenproject1/target/
/Task and Exercise/meet10/target/
/Praktikum 10/praktikum10/nbproject/private/
/Praktikum 10/praktikum10/build/
/Praktikum 10/praktikum10/dist/
/Praktikum 8 - Copy/Latihan GUI/build/
/Praktikum 8 - Copy/Latihan GUI/dist/
/Praktikum 8 - Copy/Latihan GUI/nbproject/private/
/Praktikum 10.1/Latihan GUI/build/
/Praktikum 10.1/Latihan GUI/dist/
/Praktikum 10.1/Latihan GUI/nbproject/private/
/Task and Exercise/gajadi/meet10/target/
/Task and Exercise/gajadi/week10/build/
/Task and Exercise/gajadi/week10/dist/
/Task and Exercise/gajadi/week10/nbproject/private/
/Task and Exercise/Praktikum 8 - Copy/Latihan GUI/build/
/Task and Exercise/Praktikum 8 - Copy/Latihan GUI/dist/
/Task and Exercise/Praktikum 8 - Copy/Latihan GUI/nbproject/private/
/Task and Exercise/week11/Latihan GUI/build/
/Task and Exercise/week11/Latihan GUI/dist/
/Task and Exercise/week11/Latihan GUI/nbproject/private/
/Praktikum 10/JavaApplication6/nbproject/private/
/Praktikum 10/JavaApplication6/build/
